<h2>Employee Management System</h2>
<table class="table table-striped table-bordered">
    <thead>
        <tr><th>Id</th><th>Name</th><th>Department</th><th>Salary</th></tr>
    </thead>
    <tbody>
        <tr *ngFor="let e of employees">
            <td>{{e.id}}</td>
            <td>{{e.name}}</td>
            <td>{{e.department}}</td>
            <td>{{e.salary}}</td>
            <td><button class="btn btn-success" (click)="editForm(e.id)">Edit</button></td>
        </tr>
    </tbody>
</table>
<div class="row">
    <div class="col">
        <h3>{{editData?'Edit Employee':'Add Employee'}}</h3>
        <form (ngSubmit)="saveEmp()">
            <input type="text" name="name" placeholder="Enter Name"
            [(ngModel)]="emp.name"  class="form-control mt-3"/>
            <input type="text" name="department" placeholder="Enter Department"
            [(ngModel)]="emp.department"  class="form-control mt-3"/>
            <input type="text" name="salary" placeholder="Enter salary"
            [(ngModel)]="emp.salary"  class="form-control mt-3"/>
            <button type="submit" class="btn btn-primary mt-3 w-100">
                {{editData?'Update Employee':'Save Employee'}}
            </button>
        </form>
    </div>
    <div class="col"></div>
</div>